[Desktop Entry]
Version=1.0
Type=Application
Name=USBForge Media Creation
GenericName=Bootable Media Creation
Comment=Create bootable ISO or USB media (Windows Media Creation style)
Exec=usbforge-builder
TryExec=usbforge-builder
Icon=usbforge
Terminal=false
Categories=Utility;GTK;
Keywords=USB;ISO;bootable;flash;dd;USBForge;
StartupNotify=true
StartupWMClass=usbforge-builder
